<!doctype html>
<html lang="en" dir="rtl">

<head>

    <%- include("head-tag")  %> 
    @yield('head-tag')

</head>

<body class="rtl app sidebar-mini">


	<!-- PAGE -->
	<div class="page">
		<div class="page-main">


            <%- include("header")  %> 
            
            <%- include("sidebar")  %> 


            <%-body %> 

		</div>


     

	</div>

	<!-- BACK-TO-TOP -->
	<a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

    <%- include("script")  %> 
    



    <% let sweetalert = req.flash('sweetalert')
    if(sweetalert.length) {
      let data = sweetalert[0]; %>
      <script>
        Swal.fire({
          title: '<%= data.title %>',
          text: '<%= data.message %>',
          icon: '<%= data.icon %>',
          showConfirmButton: <%= data.button !== null ? true : false %>,
          confirmButtonText: '<%= data.button %>',
          timer : <%= data.timer !== null ? data.timer : 'null' %>,
        })
      </script>
<% } %>


</body>

</html>