
<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("head-tag")  %> 
    <%- headtag %> 

</head>

<body class="common-home res layout-5">
    
    <div id="wrapper" class="wrapper-fluid banners-effect-5">
    

        <%- include("header")  %> 
            

    
   
<!-- Main Container  -->
<div class="main-container">
    <div id="content">

       

        <%-body %> 
        
    </div>
</div>

<!-- //Main Container -->
   
    
    <%- include("footer")  %> 
    </div>

<!-- End Color Scheme
============================================ -->


<%- include("script")  %> 

<section class="toast-wrapper flex-row-reverse">

    
</section>


<%- script %> 


</body>
</html>