<%- contentFor('headtag') %>

<link href="/home-assets/compare-css/responsive.css" rel="stylesheet">
<link href="/home-assets/compare-css/rtl-style.css" rel="stylesheet">
<link href="/home-assets/compare-css/style.css'" rel="stylesheet">


<%- contentFor('body') %>

<!-- START SECTION SHOP -->
<div id="comparetable">


<% if(cars.length > 0){ %>

<div class="section" >
	<div class="container">
        <div class="row">
            <div class="col-md-12">
            	<div class="compare_box">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                        <tbody>
                            <tr class="pr_image">
                                <td class="row_title">تصویر خودرو</td>
                                <% cars.forEach(car => { %>
                                <td class="row_img"><img src="<%= car.car.getImage('720')  %>" alt="compare-img"></td>
                                <% }) %>

                            </tr>
                            <tr class="pr_title">
                                <td class="row_title">نام خودرو</td>                        
                                <% cars.forEach(car => { %>
                                <td class="product_name"><%= car.car.name %></td>
                                <% }) %>

                            </tr>
                            <tr class="pr_price">
                                <td class="row_title">قیمت</td>
                                <% cars.forEach(car => { %>
                                    <td class="product_name"><%= car.car.price_us %></td>
                                <% }) %>
                            </tr>

   
                            <tr class="pr_size">
                                <td class="row_title">نوع</td>
                                <% cars.forEach(car => { %>
                                    <td class="product_name"><%= car.car.category.persian_name %></td>
                                <% }) %>

                            </tr>
                            <tr class="pr_size">
                                <td class="row_title">برند</td>
                                <% cars.forEach(car => { %>
                                    <td class="product_name"><%= car.car.brand.persian_name %></td>
                                <% }) %>

                            </tr>
                            <tr class="pr_size">
                                <td class="row_title">قدرت</td>
                                <% cars.forEach(car => { %>
                                    <td class="product_name"><%= car.car.power %></td>
                                <% }) %>

                            </tr>
                            <tr class="pr_size">
                                <td class="row_title">کشور سازنده</td>
                                <% cars.forEach(car => { %>
                                    <td class="product_name"><%= car.car.country %></td>
                                <% }) %>

                            </tr>

                            <tr class="pr_size">
                                <td class="row_title">حداکثر سرعت</td>
                                <% cars.forEach(car => { %>
                                    <td class="product_name"><%= car.car.maxspeed %></td>
                                <% }) %>

                            </tr>

                            <tr class="pr_size">
                                <td class="row_title">شتاب</td>
                                <% cars.forEach(car => { %>
                                    <td class="product_name"><%= car.car.acceleration %></td>
                                <% }) %>

                                
                            </tr>
                            

                            <tr class="pr_size">
                                <td class="row_title">مصرف سوخت</td>
                                <% cars.forEach(car => { %>
                                    <td class="product_name"><%= car.car.fuel_consumption %></td>
                                <% }) %>
                            </tr>


                            <tr class="pr_remove">
                                <td class="row_title"></td>
 

 
                                <% cars.forEach(car => { %>
                                <td class="row_remove" onclick="remove('<%= car.car.id %>')" car-id = "<%= car.car.id %>">
                                    <a ><span>حذف از مقایسه</span> <i class="fa fa-times"></i></a>
                                </td>
                                <% }) %>

                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->`


<% } else { %>
<h3>لیست مقایسه خالیست !</h3>
<% } %>

</div>


<%- contentFor('script') %>

<script>


function remove(id){

    // console.log(id);
    // var id = $(this).attr('car-id');
    // console.log('hiii');
    $.ajax({
        url : '/remove-from-compare-list/'+id,
        type : "GET",
        success : function(response){
            window.location.reload();
        },
  
    });

}

</script>
